body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin:0 !important;
    width: 100% !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
}
.tableContent img {
    border: 0 !important;
    display: block !important;
    outline: none !important;
}
a{
    color:#382F2E;
}

p, h1,h2,ul,ol,li,div{
    margin:0;
    padding:0;
}

h1,h2{
    font-weight: normal;
    background:transparent !important;
    border:none !important;
}

@media only screen and (max-width:480px)

{

    table[class="MainContainer"], td[class="cell"]
    {
        width: 100% !important;
        height:auto !important;
    }
    td[class="specbundle"]
    {
        width: 100% !important;
        float:left !important;
        font-size:13px !important;
        line-height:17px !important;
        display:block !important;
        padding-bottom:15px !important;
    }
    td[class="specbundle2"]
    {
        width:80% !important;
        float:left !important;
        font-size:13px !important;
        line-height:17px !important;
        display:block !important;
        padding-bottom:10px !important;
        padding-left:10% !important;
        padding-right:10% !important;
    }

    td[class="spechide"]
    {
        display:none !important;
    }
    img[class="banner"]
    {
        width: 100% !important;
        height: auto !important;
    }
    td[class="left_pad"]
    {
        padding-left:15px !important;
        padding-right:15px !important;
    }

}

@media only screen and (max-width:540px)

{

    table[class="MainContainer"], td[class="cell"]
    {
        width: 100% !important;
        height:auto !important;
    }
    td[class="specbundle"]
    {
        width: 100% !important;
        float:left !important;
        font-size:13px !important;
        line-height:17px !important;
        display:block !important;
        padding-bottom:15px !important;
    }
    td[class="specbundle2"]
    {
        width:80% !important;
        float:left !important;
        font-size:13px !important;
        line-height:17px !important;
        display:block !important;
        padding-bottom:10px !important;
        padding-left:10% !important;
        padding-right:10% !important;
    }

    td[class="spechide"]
    {
        display:none !important;
    }
    img[class="banner"]
    {
        width: 100% !important;
        height: auto !important;
    }
    td[class="left_pad"]
    {
        padding-left:15px !important;
        padding-right:15px !important;
    }

}

.contentEditable h2.big,.contentEditable h1.big{
    font-size: 26px !important;
}

.contentEditable h2.bigger,.contentEditable h1.bigger{
    font-size: 37px !important;
}

td,table{
    vertical-align: top;
}
td.middle{
    vertical-align: middle;
}

a.link1{
    font-size:13px;
    color:#27A1E5;
    line-height: 24px;
    text-decoration:none;
}
a{
    text-decoration: none;
}

.link2{
    color:#ffffff;
    border-top:10px solid #27A1E5;
    border-bottom:10px solid #27A1E5;
    border-left:18px solid #27A1E5;
    border-right:18px solid #27A1E5;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:#27A1E5;
}

.link3{
    color:#555555;
    border:1px solid #cccccc;
    padding:10px 18px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:#ffffff;
}

.link4{
    color:#27A1E5;
    line-height: 24px;
}

h2,h1{
    line-height: 20px;
}
p{
    font-size: 14px;
    line-height: 21px;
    color:#AAAAAA;
}

.contentEditable li{

}

.appart p{

}
.bgItem{
    background: #ffffff;
}
.bgBody{
    background: #ffffff;
}

img {
    outline:none;
    text-decoration:none;
    -ms-interpolation-mode: bicubic;
    width: auto;
    max-width: 100%;
    clear: both;
    display: block;
    float: none;
}
