@import '~bootstrap/dist/css/bootstrap.css';


@font-face {
    font-family: 'Inter';
    src: url('~idashboard/assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('~idashboard/assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('~idashboard/assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

label {
    user-select: none;
    //cursor: text;
}

@import "./default/_variables";
@import "./default/_typography";
@import "./default/_spacing";
@import "./default/_general";
@import "./components/_footer";
@import "./components/_header";
@import "./components/_sidebarheader";
@import "./components/_button";
@import "./components/_alert";
@import "./components/_card";
@import "./components/_list-group";
@import "./components/_carousel";
@import "./components/_breadcrumb";
@import "./components/_forms";
@import "./components/_dropdown";
@import "./components/_jumbotron";
@import "./components/_scrollspy";
@import "./components/_tooltips";
@import "./components/_progress";
@import "./components/_popovers";
@import "./components/_pagination";
@import "./components/_modal";
@import "./components/_badge";
@import "./components/_table";
@import "./components/_spinners";
@import "./components/_toasts";
@import "./components/_iconbox";
@import "./components/_media";
@import "./components/_chart";
@import "./components/_task-list";
@import "./components/_products";
@import "./components/_search";
@import "./components/_svg-map";
@import "./components/_pricing-table";
@import "./components/_email";
@import "./components/_user";
@import "./components/_calendar";
@import "./components/_contact";
@import "./components/_attachment";
@import "./components/_error";
@import "./components/_user-page";
@import "./components/_dataTable";
@import "./components/_messenger";
@import "./components/_live-chat";
@import "./components/_settings";

